asgiref==3.7.2
Django==3.2.23
django-cors-headers==4.3.1
django-mysql==4.12.0
mysql-connector-python==8.2.0
mysqlclient==2.2.0
protobuf==4.21.12
PyMySQL==1.1.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1
