<!DOCTYPE html>
<html>
<head>
<title>my gym blog</title>
<link rel="stylesheet" href="/static/css/blog.css" />
</head>
<body>

    <div class="header">
        <h2>My Gym Blog : Divyanshu@BMU</h2>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>Healthy Eating | High Protien diet</h2>
            <h5>Importance of Healthy Eating protien rich diet, Nov 26, 2023</h5>
            
              <img src="/static/img/assets/food.jpeg" style="max-width:100%; max-height:200px;">
          
          
            <p>Maintaining a healthy and protein-rich diet is crucial for various aspects of overall well-being. Here are some key reasons highlighting the importance of a healthy eating pattern, including a diet rich in protein:
            </p>
            <p>
              Muscle Building and Repair
            </p>
            <p>
              Satiety and Appetite Control
            </p>
            <p>
              Micronutrient Absorption
            </p>
            <p>
              Metabolism Support
            </p>
            <p>
              Antibody Production
            </p>
            <p>
              Hormone Production
            </p>
          </div>
          <div class="card">
            <h2>Fat loss journey</h2>
            <h5>A Journey to fat loss</h5>
            
              <img src="/static/img/assets/workout.jpeg" style="max-width:100%; max-height:200px;">
              <h3> Simple steps for fat loss journey</h3>
              <p>
                Lift weights
              </p>
              <p>
                Regular Cardio
              </p>
              <p>
                Protien intake
              </p>
              <p>
                Balanced Diet
              </p>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            
            <p>I am divyanshu 2nd year cse student from BMU interested in fitness activity.</p>
          </div>
          <div class="card">
            <h3>Popular Post</h3>
            <h3> Simple steps for fat loss journey</h3>
            <h3>Fat loss journey</h3>
          </div>
          <div class="card">
            <h3>Follow Me</h3>
            <p>write me to divyanshu.bansal.22cse@bmu.edu.in </p>
          </div>
        </div>
      </div>
      
      <div class="footer">
        <h2>Any questions write me to divyanshu.bansal.22cse@bmu.edu.in </h2>
      </div>
      
</body>
</html>
