<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/pricing.css" />
<title>Gym Pricing</title>
</head>

    <body>
        <main>
          <div class="card-basic">
            <div class="card-header header-basic">
              <h1>Basic</h1>
            </div>
            <div class="card-body">
              <p><h2>10000Rs/Year</h2></p>
              <div class="card-element-hidden-basic">
                <ul class="card-element-container">
                  <li class="card-element">unlimited gym access</li>
                  <li class="card-element">facilites</li>
                  <li class="card-element">diet schedule</li>
                  <li class="card-element">bmi</li>
                </ul>
                <button class="btn btn-basic">Basic Plan</button>
              </div>
            </div>
          </div>
          
          <div class="card-standard">
            <div class="card-header header-standard">
              <h1>Standard</h1>
            </div>
            <div class="card-body">
              <p><h2>15000Rs / year</h2></p>
              <div class="card-element-hidden-standard">
                <ul class="card-element-container">
                  <li class="card-element">Unlimited Gym access</li>
                  <li class="card-element">Facilites</li>
                  <li class="card-element">Trainer Support</li>
                  <li class="card-element">All Features of basic</li>
                </ul>
                <button class="btn btn-standard">Standard Plan</button>
              </div>
            </div>
          </div>
          <div class="card-premium">
            <div class="card-header header-premium">
              <h1>Premium</h1>
            </div>
            <div class="card-body">
              <p><h2>20000Rs/ year</h2></p>
              <div class="card-element-hidden-premium">
                <ul class="card-element-container">
                  <li class="card-element">Unlimited gym access</li>
                  <li class="card-element">Trainer Support</li>
                  <li class="card-element">Yoga/Strength/Boxing classses</li>
                  <li class="card-element">All Standard plan Features</li>
                </ul>
                <button class="btn btn-premium">Premium Plan</button>
              </div>
            </div>
          </div>
        </main>
      </body>


</html>
